<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sspu.zzx.sspuoj.mapper.ArticleCommentMapper">

    <resultMap id="BaseResultMap" type="sspu.zzx.sspuoj.model.entity.ArticleComment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="articleId" column="articleId" jdbcType="BIGINT"/>
            <result property="senderId" column="senderId" jdbcType="BIGINT"/>
            <result property="receiverId" column="receiverId" jdbcType="BIGINT"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="senderName" column="senderName" jdbcType="VARCHAR"/>
            <result property="senderAvatar" column="senderAvatar" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,articleId,senderId,
        receiverId,comment,senderName,
        senderAvatar,createTime,updateTime,
        isDelete
    </sql>
</mapper>
