<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sspu.zzx.sspuoj.mapper.GameQuestionMapper">

    <resultMap id="BaseResultMap" type="sspu.zzx.sspuoj.model.entity.GameQuestion">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="questionId" column="questionId" jdbcType="BIGINT"/>
            <result property="gameId" column="gameId" jdbcType="BIGINT"/>
            <result property="fullScore" column="fullScore" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,questionId,gameId,
        fullScore,createTime,updateTime,
        isDelete
    </sql>
</mapper>
