<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sspu.zzx.sspuoj.mapper.SysConfigMapper">

    <resultMap id="BaseResultMap" type="sspu.zzx.sspuoj.model.entity.SysConfig">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="configName" column="configName" jdbcType="VARCHAR"/>
            <result property="configKey" column="configKey" jdbcType="VARCHAR"/>
            <result property="configValue" column="configValue" jdbcType="VARCHAR"/>
            <result property="configType" column="configType" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creatorId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,configName,configKey,
        configValue,configType,remark,
        creatorId,createTime,updateTime,
        isDelete
    </sql>
</mapper>
